**classify the Size_Categorie using SVM**

month	month of the year: 'jan' to 'dec'
day	day of the week: 'mon' to 'sun'
FFMC	FFMC index from the FWI system: 18.7 to 96.20
DMC	DMC index from the FWI system: 1.1 to 291.3
DC	DC index from the FWI system: 7.9 to 860.6
ISI	ISI index from the FWI system: 0.0 to 56.10
temp	temperature in Celsius degrees: 2.2 to 33.30
RH	relative humidity in %: 15.0 to 100
wind	wind speed in km/h: 0.40 to 9.40
rain	outside rain in mm/m2 : 0.0 to 6.4
Size_Categorie 	the burned area of the forest ( Small , Large)

In [1]:
#Import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [2]:
#load the dataset
forestfire = pd.read_csv('/content/forestfires.csv')
print(forestfire.head())

  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  ...  monthfeb  \
0   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0  ...         0
1   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0  ...         0
2   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0  ...         0
3   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2  ...         0
4   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0  ...         0

   monthjan  monthjul  monthjun  monthmar  monthmay  monthnov  monthoct  \
0         0         0         0         1         0         0         0
1         0         0         0         0         0         0         1
2         0         0         0         0         0         0         1
3         0         0         0         1         0         0         0
4         0         0         0         1         0         0         0

   monthsep  size_category
0         0          small
1         0          small
2         0          small
3         0          small
4         0          small

[5 rows x 31 columns]

In [3]:
forestfire.describe()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,...,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292,0.164410,...,0.017408,0.038685,0.003868,0.061896,0.032882,0.104449,0.003868,0.001934,0.029014,0.332689
std,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818,0.371006,...,0.130913,0.193029,0.062137,0.241199,0.178500,0.306138,0.062137,0.043980,0.168007,0.471632
min,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
forestfire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   month          517 non-null    object
 1   day            517 non-null    object
 2   FFMC           517 non-null    float64
 3   DMC            517 non-null    float64
 4   DC             517 non-null    float64
 5   ISI            517 non-null    float64
 6   temp           517 non-null    float64
 7   RH             517 non-null    int64
 8   wind           517 non-null    float64
 9   rain           517 non-null    float64
 10  area           517 non-null    float64
 11  dayfri         517 non-null    int64
 12  daymon         517 non-null    int64
 13  daysat         517 non-null    int64
 14  daysun         517 non-null    int64
 15  daythu         517 non-null    int64
 16  daytue         517 non-null    int64
 17  daywed         517 non-null    int64
 18  monthapr       517 non-null    int64
 19  monthaug       517 non-null    int64
 20  monthdec       517 non-null    int64
 21  monthfeb       517 non-null    int64
 22  monthjan       517 non-null    int64
 23  monthjul       517 non-null    int64
 24  monthjun       517 non-null    int64
 25  monthmar       517 non-null    int64
 26  monthmay       517 non-null    int64
 27  monthnov       517 non-null    int64
 28  monthoct       517 non-null    int64
 29  monthsep       517 non-null    int64
 30  size_category  517 non-null    object
dtypes: float64(8), int64(20), object(3)
memory usage: 125.3+ KB

In [5]:
forestfire.shape

(517, 31)

In [6]:
forestfire.isnull().sum()

month            0
day              0
FFMC             0
DMC              0
DC               0
ISI              0
temp             0
RH               0
wind             0
rain             0
area             0
dayfri           0
daymon           0
daysat           0
daysun           0
daythu           0
daytue           0
daywed           0
monthapr         0
monthaug         0
monthdec         0
monthfeb         0
monthjan         0
monthjul         0
monthjun         0
monthmar         0
monthmay         0
monthnov         0
monthoct         0
monthsep         0
size_category    0
dtype: int64

In [7]:
##Dropping the month and day columns
forestfire.drop(["month","day"],axis=1,inplace =True)

In [8]:
predictors = forestfire.iloc[:,0:28]
target = forestfire.iloc[:,28]

In [9]:
predictors

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,1,...,0,0,0,0,0,1,0,0,0,0
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,0,...,0,0,0,0,0,0,0,0,1,0
2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,0,...,0,0,0,0,0,0,0,0,1,0
3,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,1,...,0,0,0,0,0,1,0,0,0,0
4,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,0,...,0,0,0,0,0,0,0,0,0,0
513,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,0,...,0,0,0,0,0,0,0,0,0,0
514,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,0,...,0,0,0,0,0,0,0,0,0,0
515,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0,...,0,0,0,0,0,0,0,0,0,0
516,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
target

0      small
1      small
2      small
3      small
4      small
       ...
512    large
513    large
514    large
515    small
516    small
Name: size_category, Length: 517, dtype: object

In [11]:
##Normalising the data as there is scale difference
def norm_func(i):
    x= (i-i.min())/(i.max()-i.min())
    return (x)

In [12]:
fires = norm_func(predictors)
fires

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
0,0.870968,0.086492,0.101325,0.090909,0.192926,0.423529,0.700000,0.00000,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.927742,0.118194,0.775419,0.119430,0.508039,0.211765,0.055556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.927742,0.146795,0.796294,0.119430,0.398714,0.211765,0.100000,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.941935,0.110958,0.081623,0.160428,0.196141,0.964706,0.400000,0.03125,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.910968,0.172984,0.110590,0.171123,0.295820,0.988235,0.155556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,0.811613,0.191592,0.771315,0.033868,0.823151,0.200000,0.255556,0.00000,0.005904,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
513,0.811613,0.191592,0.771315,0.033868,0.633441,0.658824,0.600000,0.00000,0.049769,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
514,0.811613,0.191592,0.771315,0.033868,0.610932,0.647059,0.700000,0.00000,0.010231,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
515,0.976774,0.499311,0.711622,0.201426,0.752412,0.317647,0.400000,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
516,0.784516,0.006547,0.115867,0.019608,0.308682,0.188235,0.455556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [13]:
x_train,x_test,y_train,y_test = train_test_split(predictors,target,test_size = 0.25, stratify = target)

In [14]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((387, 28), (387,), (130, 28), (130,))

In [15]:
model_linear = SVC(kernel = "linear")
model_linear.fit(x_train,y_train)

SVC(kernel='linear')

In [16]:
pred_test_linear = model_linear.predict(x_test)

In [17]:
np.mean(pred_test_linear==y_test)         #Accuracy = 99.23%

0.9846153846153847

In [18]:
acc = accuracy_score(y_test, pred_test_linear) * 100
print("Accuracy =", acc)
confusion_matrix(y_test, pred_test_linear)

Accuracy = 98.46153846153847

array([[33,  2],
       [ 0, 95]])

In [19]:
# Kernel = poly
model_poly = SVC(kernel = "poly")
model_poly.fit(x_train,y_train)

SVC(kernel='poly')

In [20]:
pred_test_poly = model_poly.predict(x_test)

In [21]:
np.mean(pred_test_poly==y_test)*100

78.46153846153847

In [22]:
# kernel = rbf
model_rbf = SVC(kernel = "rbf")
model_rbf.fit(x_train,y_train)

SVC()

In [23]:
pred_test_rbf = model_rbf.predict(x_test)

In [24]:
np.mean(pred_test_rbf==y_test)*100

74.61538461538461

In [25]:
#'sigmoid'
model_sig = SVC(kernel = "sigmoid")
model_sig.fit(x_train,y_train)

SVC(kernel='sigmoid')

In [26]:
pred_test_sig = model_rbf.predict(x_test)

In [27]:
np.mean(pred_test_sig==y_test)*100

74.61538461538461

**Prepare a classification model using SVM for salary data**

Data Description:

age -- age of a person

workclass	-- A work class is a grouping of work 

education	-- Education of an individuals	

maritalstatus -- Marital status of an individulas	

occupation	 -- occupation of an individuals

relationship -- 	

race --  Race of an Individual

sex --  Gender of an Individual

capitalgain --  profit received from the sale of an investment	

capitalloss	-- A decrease in the value of a capital asset

hoursperweek -- number of hours work per week	

native -- Native of an individual

Salary -- salary of an individual

In [28]:
#Import libraries
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split,cross_val_score

from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix

In [29]:
#Load the dataset
train = pd.read_csv('/content/SalaryData_Train(1).csv')
print(train.head())

   age          workclass   education  educationno        maritalstatus  \
0   39          State-gov   Bachelors           13        Never-married
1   50   Self-emp-not-inc   Bachelors           13   Married-civ-spouse
2   38            Private     HS-grad            9             Divorced
3   53            Private        11th            7   Married-civ-spouse
4   28            Private   Bachelors           13   Married-civ-spouse

           occupation    relationship    race      sex  capitalgain  \
0        Adm-clerical   Not-in-family   White     Male         2174
1     Exec-managerial         Husband   White     Male            0
2   Handlers-cleaners   Not-in-family   White     Male            0
3   Handlers-cleaners         Husband   Black     Male            0
4      Prof-specialty            Wife   Black   Female            0

   capitalloss  hoursperweek          native  Salary
0            0            40   United-States   <=50K
1            0            13   United-States   <=50K
2            0            40   United-States   <=50K
3            0            40   United-States   <=50K
4            0            40            Cuba   <=50K

In [30]:
test = pd.read_csv('/content/SalaryData_Test(1).csv')
print(test.head())

   age   workclass      education  educationno        maritalstatus  \
0   25     Private           11th            7        Never-married
1   38     Private        HS-grad            9   Married-civ-spouse
2   28   Local-gov     Assoc-acdm           12   Married-civ-spouse
3   44     Private   Some-college           10   Married-civ-spouse
4   34     Private           10th            6        Never-married

           occupation    relationship    race    sex  capitalgain  \
0   Machine-op-inspct       Own-child   Black   Male            0
1     Farming-fishing         Husband   White   Male            0
2     Protective-serv         Husband   White   Male            0
3   Machine-op-inspct         Husband   Black   Male         7688
4       Other-service   Not-in-family   White   Male            0

   capitalloss  hoursperweek          native  Salary
0            0            40   United-States   <=50K
1            0            50   United-States   <=50K
2            0            40   United-States    >50K
3            0            40   United-States    >50K
4            0            30   United-States   <=50K

In [31]:
#EDA
train.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  18645.000000  18645.000000  18645.000000  18645.000000  18645.000000
mean      38.490695     10.124001   1073.642692     88.679539     40.900885
std       13.179845      2.530582   7374.919691    403.399003     11.906083
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       47.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   4356.000000     99.000000

In [32]:
test.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  15060.000000  15060.000000  15060.000000  15060.000000  15060.000000
mean      38.768327     10.112749   1120.301594     89.041899     40.951594
std       13.380676      2.558727   7703.181842    406.283245     12.062831
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       48.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   3770.000000     99.000000

In [33]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18645 entries, 0 to 18644
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            18645 non-null  int64
 1   workclass      18645 non-null  object
 2   education      18645 non-null  object
 3   educationno    18645 non-null  int64
 4   maritalstatus  18645 non-null  object
 5   occupation     18645 non-null  object
 6   relationship   18645 non-null  object
 7   race           18645 non-null  object
 8   sex            18645 non-null  object
 9   capitalgain    18645 non-null  int64
 10  capitalloss    18645 non-null  int64
 11  hoursperweek   18645 non-null  int64
 12  native         18645 non-null  object
 13  Salary         18644 non-null  object
dtypes: int64(5), object(9)
memory usage: 2.0+ MB

In [34]:
test.info

<bound method DataFrame.info of        age      workclass      education  educationno        maritalstatus  \
0       25        Private           11th            7        Never-married
1       38        Private        HS-grad            9   Married-civ-spouse
2       28      Local-gov     Assoc-acdm           12   Married-civ-spouse
3       44        Private   Some-college           10   Married-civ-spouse
4       34        Private           10th            6        Never-married
...    ...            ...            ...          ...                  ...
15055   33        Private      Bachelors           13        Never-married
15056   39        Private      Bachelors           13             Divorced
15057   38        Private      Bachelors           13   Married-civ-spouse
15058   44        Private      Bachelors           13             Divorced
15059   35   Self-emp-inc      Bachelors           13   Married-civ-spouse

               occupation    relationship                 race      sex  \
0       Machine-op-inspct       Own-child                Black     Male
1         Farming-fishing         Husband                White     Male
2         Protective-serv         Husband                White     Male
3       Machine-op-inspct         Husband                Black     Male
4           Other-service   Not-in-family                White     Male
...                   ...             ...                  ...      ...
15055      Prof-specialty       Own-child                White     Male
15056      Prof-specialty   Not-in-family                White   Female
15057      Prof-specialty         Husband                White     Male
15058        Adm-clerical       Own-child   Asian-Pac-Islander     Male
15059     Exec-managerial         Husband                White     Male

       capitalgain  capitalloss  hoursperweek          native  Salary
0                0            0            40   United-States   <=50K
1                0            0            50   United-States   <=50K
2                0            0            40   United-States    >50K
3             7688            0            40   United-States    >50K
4                0            0            30   United-States   <=50K
...            ...          ...           ...             ...     ...
15055            0            0            40   United-States   <=50K
15056            0            0            36   United-States   <=50K
15057            0            0            50   United-States   <=50K
15058         5455            0            40   United-States   <=50K
15059            0            0            60   United-States    >50K

[15060 rows x 14 columns]>

In [35]:
test.shape

(15060, 14)

In [36]:
train.shape

(18645, 14)

In [37]:
#Finding the special characters in the data frame 
train.isin(['?']).sum(axis=0)

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [38]:
#Finding the special characters in the data frame 
test.isin(['?']).sum(axis=0)

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [39]:
print(train[0:5])

   age          workclass   education  educationno        maritalstatus  \
0   39          State-gov   Bachelors           13        Never-married
1   50   Self-emp-not-inc   Bachelors           13   Married-civ-spouse
2   38            Private     HS-grad            9             Divorced
3   53            Private        11th            7   Married-civ-spouse
4   28            Private   Bachelors           13   Married-civ-spouse

           occupation    relationship    race      sex  capitalgain  \
0        Adm-clerical   Not-in-family   White     Male         2174
1     Exec-managerial         Husband   White     Male            0
2   Handlers-cleaners   Not-in-family   White     Male            0
3   Handlers-cleaners         Husband   Black     Male            0
4      Prof-specialty            Wife   Black   Female            0

   capitalloss  hoursperweek          native  Salary
0            0            40   United-States   <=50K
1            0            13   United-States   <=50K
2            0            40   United-States   <=50K
3            0            40   United-States   <=50K
4            0            40            Cuba   <=50K

In [40]:
# find categorical variables

categorical = [var for var in train.columns if train[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :\n\n', categorical)

There are 9 categorical variables

The categorical variables are :

 ['workclass', 'education', 'maritalstatus', 'occupation', 'relationship', 'race', 'sex', 'native', 'Salary']

In [41]:
train[categorical].head()

,workclass,education,maritalstatus,occupation,relationship,race,sex,native,Salary
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K

In [42]:
# check missing values in categorical variables
train[categorical].isnull().sum()

workclass        0
education        0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
native           0
Salary           1
dtype: int64

In [43]:
# view frequency counts of values in categorical variables

for var in categorical: 
    print(train[var].value_counts())

 Private             13735
 Self-emp-not-inc     1569
 Local-gov            1293
 State-gov             787
 Self-emp-inc          664
 Federal-gov           591
 Without-pay             6
Name: workclass, dtype: int64
 HS-grad         6174
 Some-college    4103
 Bachelors       3146
 Masters         1002
 Assoc-voc        800
 11th             636
 Assoc-acdm       604
 10th             524
 7th-8th          341
 Prof-school      316
 9th              277
 Doctorate        231
 12th             213
 5th-6th          171
 1st-4th           87
 Preschool         20
Name: education, dtype: int64
 Married-civ-spouse       8646
 Never-married            6037
 Divorced                 2620
 Separated                 582
 Widowed                   519
 Married-spouse-absent     228
 Married-AF-spouse          13
Name: maritalstatus, dtype: int64
 Prof-specialty       2498
 Craft-repair         2467
 Exec-managerial      2426
 Adm-clerical         2370
 Sales                2246
 Other-service        2002
 Machine-op-inspct    1218
 Transport-moving      976
 Handlers-cleaners     796
 Farming-fishing       583
 Tech-support          557
 Protective-serv       397
 Priv-house-serv       102
 Armed-Forces            7
Name: occupation, dtype: int64
 Husband           7636
 Not-in-family     4850
 Own-child         2759
 Unmarried         1965
 Wife               894
 Other-relative     541
Name: relationship, dtype: int64
 White                 16055
 Black                  1727
 Asian-Pac-Islander      540
 Amer-Indian-Eskimo      178
 Other                   145
Name: race, dtype: int64
 Male      12581
 Female     6064
Name: sex, dtype: int64
 United-States                 17000
 Mexico                          368
 Philippines                     112
 Germany                          81
 Puerto-Rico                      78
 Canada                           76
 England                          61
 Cuba                             61
 El-Salvador                      59
 India                            53
 Jamaica                          48
 South                            47
 Dominican-Republic               43
 Vietnam                          42
 China                            42
 Italy                            42
 Guatemala                        41
 Poland                           39
 Japan                            38
 Columbia                         32
 Iran                             30
 Taiwan                           28
 Haiti                            27
 Nicaragua                        20
 Greece                           19
 Portugal                         19
 Ecuador                          18
 Peru                             16
 Ireland                          16
 France                           12
 Cambodia                         12
 Thailand                          9
 Yugoslavia                        8
 Hong                              8
 Outlying-US(Guam-USVI-etc)        7
 Trinadad&Tobago                   7
 Honduras                          7
 Hungary                           7
 Scotland                          6
 Laos                              5
 United-Stat                       1
Name: native, dtype: int64
 <=50K    14066
 >50K      4578
Name: Salary, dtype: int64

In [44]:
for var in categorical: 
    print(train[var].value_counts()/np.float(len(train)))

 Private             0.736659
 Self-emp-not-inc    0.084151
 Local-gov           0.069348
 State-gov           0.042210
 Self-emp-inc        0.035613
 Federal-gov         0.031698
 Without-pay         0.000322
Name: workclass, dtype: float64
 HS-grad         0.331134
 Some-college    0.220059
 Bachelors       0.168732
 Masters         0.053741
 Assoc-voc       0.042907
 11th            0.034111
 Assoc-acdm      0.032395
 10th            0.028104
 7th-8th         0.018289
 Prof-school     0.016948
 9th             0.014857
 Doctorate       0.012389
 12th            0.011424
 5th-6th         0.009171
 1st-4th         0.004666
 Preschool       0.001073
Name: education, dtype: float64
 Married-civ-spouse       0.463717
 Never-married            0.323787
 Divorced                 0.140520
 Separated                0.031215
 Widowed                  0.027836
 Married-spouse-absent    0.012228
 Married-AF-spouse        0.000697
Name: maritalstatus, dtype: float64
 Prof-specialty       0.133977
 Craft-repair         0.132314
 Exec-managerial      0.130115
 Adm-clerical         0.127112
 Sales                0.120461
 Other-service        0.107375
 Machine-op-inspct    0.065326
 Transport-moving     0.052346
 Handlers-cleaners    0.042692
 Farming-fishing      0.031268
 Tech-support         0.029874
 Protective-serv      0.021293
 Priv-house-serv      0.005471
 Armed-Forces         0.000375
Name: occupation, dtype: float64
 Husband           0.409547
 Not-in-family     0.260123
 Own-child         0.147975
 Unmarried         0.105390
 Wife              0.047949
 Other-relative    0.029016
Name: relationship, dtype: float64
 White                 0.861089
 Black                 0.092625
 Asian-Pac-Islander    0.028962
 Amer-Indian-Eskimo    0.009547
 Other                 0.007777
Name: race, dtype: float64
 Male      0.674765
 Female    0.325235
Name: sex, dtype: float64
 United-States                 0.911773
 Mexico                        0.019737
 Philippines                   0.006007
 Germany                       0.004344
 Puerto-Rico                   0.004183
 Canada                        0.004076
 England                       0.003272
 Cuba                          0.003272
 El-Salvador                   0.003164
 India                         0.002843
 Jamaica                       0.002574
 South                         0.002521
 Dominican-Republic            0.002306
 Vietnam                       0.002253
 China                         0.002253
 Italy                         0.002253
 Guatemala                     0.002199
 Poland                        0.002092
 Japan                         0.002038
 Columbia                      0.001716
 Iran                          0.001609
 Taiwan                        0.001502
 Haiti                         0.001448
 Nicaragua                     0.001073
 Greece                        0.001019
 Portugal                      0.001019
 Ecuador                       0.000965
 Peru                          0.000858
 Ireland                       0.000858
 France                        0.000644
 Cambodia                      0.000644
 Thailand                      0.000483
 Yugoslavia                    0.000429
 Hong                          0.000429
 Outlying-US(Guam-USVI-etc)    0.000375
 Trinadad&Tobago               0.000375
 Honduras                      0.000375
 Hungary                       0.000375
 Scotland                      0.000322
 Laos                          0.000268
 United-Stat                   0.000054
Name: native, dtype: float64
 <=50K    0.754411
 >50K     0.245535
Name: Salary, dtype: float64

In [45]:
train.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' Self-emp-inc', ' Without-pay'], dtype=object)

In [46]:
train.workclass.value_counts()

 Private             13735
 Self-emp-not-inc     1569
 Local-gov            1293
 State-gov             787
 Self-emp-inc          664
 Federal-gov           591
 Without-pay             6
Name: workclass, dtype: int64

In [47]:
train.occupation.unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Transport-moving',
       ' Farming-fishing', ' Machine-op-inspct', ' Tech-support',
       ' Craft-repair', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [48]:
train.occupation.value_counts()

 Prof-specialty       2498
 Craft-repair         2467
 Exec-managerial      2426
 Adm-clerical         2370
 Sales                2246
 Other-service        2002
 Machine-op-inspct    1218
 Transport-moving      976
 Handlers-cleaners     796
 Farming-fishing       583
 Tech-support          557
 Protective-serv       397
 Priv-house-serv       102
 Armed-Forces            7
Name: occupation, dtype: int64

In [49]:
train.native.unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' Mexico',
       ' Puerto-Rico', ' Honduras', ' England', ' Canada', ' Germany',
       ' Iran', ' Philippines', ' Poland', ' Columbia', ' Cambodia',
       ' Thailand', ' Ecuador', ' Laos', ' Taiwan', ' Haiti', ' Portugal',
       ' Dominican-Republic', ' El-Salvador', ' France', ' Guatemala',
       ' Italy', ' China', ' South', ' Japan', ' Yugoslavia', ' Peru',
       ' Outlying-US(Guam-USVI-etc)', ' Scotland', ' Trinadad&Tobago',
       ' Greece', ' Nicaragua', ' Vietnam', ' Hong', ' Ireland',
       ' Hungary', ' United-Stat'], dtype=object)

In [50]:
train.native.value_counts()

 United-States                 17000
 Mexico                          368
 Philippines                     112
 Germany                          81
 Puerto-Rico                      78
 Canada                           76
 England                          61
 Cuba                             61
 El-Salvador                      59
 India                            53
 Jamaica                          48
 South                            47
 Dominican-Republic               43
 Vietnam                          42
 China                            42
 Italy                            42
 Guatemala                        41
 Poland                           39
 Japan                            38
 Columbia                         32
 Iran                             30
 Taiwan                           28
 Haiti                            27
 Nicaragua                        20
 Greece                           19
 Portugal                         19
 Ecuador                          18
 Peru                             16
 Ireland                          16
 France                           12
 Cambodia                         12
 Thailand                          9
 Yugoslavia                        8
 Hong                              8
 Outlying-US(Guam-USVI-etc)        7
 Trinadad&Tobago                   7
 Honduras                          7
 Hungary                           7
 Scotland                          6
 Laos                              5
 United-Stat                       1
Name: native, dtype: int64

In [51]:
for var in categorical:
    print(var, ' contains ', len(train[var].unique()), ' labels')

workclass  contains  7  labels
education  contains  16  labels
maritalstatus  contains  7  labels
occupation  contains  14  labels
relationship  contains  6  labels
race  contains  5  labels
sex  contains  2  labels
native  contains  41  labels
Salary  contains  3  labels

In [52]:
# find numerical variables
numerical = [var for var in train.columns if train[var].dtype!='O']
print('There are {} numerical variables\n'.format(len(numerical)))
print('The numerical variables are :', numerical)

There are 5 numerical variables

The numerical variables are : ['age', 'educationno', 'capitalgain', 'capitalloss', 'hoursperweek']

In [53]:
# view the numerical variables
train[numerical].head()

   age  educationno  capitalgain  capitalloss  hoursperweek
0   39           13         2174            0            40
1   50           13            0            0            13
2   38            9            0            0            40
3   53            7            0            0            40
4   28           13            0            0            40

In [54]:
# check missing values in numerical variables
train[numerical].isnull().sum()

age             0
educationno     0
capitalgain     0
capitalloss     0
hoursperweek    0
dtype: int64

In [55]:
X = train.drop(['Salary'], axis=1)
y = train['Salary']

In [56]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [57]:
# check the shape of X_train and X_test
X_train.shape, X_test.shape

((13051, 13), (5594, 13))

In [58]:
X_train.dtypes

age               int64
workclass        object
education        object
educationno       int64
maritalstatus    object
occupation       object
relationship     object
race             object
sex              object
capitalgain       int64
capitalloss       int64
hoursperweek      int64
native           object
dtype: object

In [59]:
X_test.dtypes

age               int64
workclass        object
education        object
educationno       int64
maritalstatus    object
occupation       object
relationship     object
race             object
sex              object
capitalgain       int64
capitalloss       int64
hoursperweek      int64
native           object
dtype: object

In [60]:
# display categorical variables
categorical = [col for col in X_train.columns if X_train[col].dtypes == 'O']
categorical

['workclass',
 'education',
 'maritalstatus',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native']

In [61]:
# display numerical variables
numerical = [col for col in X_train.columns if X_train[col].dtypes != 'O']
numerical

['age', 'educationno', 'capitalgain', 'capitalloss', 'hoursperweek']

In [62]:
X_train[categorical].isnull().mean()

workclass        0.0
education        0.0
maritalstatus    0.0
occupation       0.0
relationship     0.0
race             0.0
sex              0.0
native           0.0
dtype: float64

In [63]:
# print categorical variables with missing data
for col in categorical:
    if X_train[col].isnull().mean()>0:
        print(col, (X_train[col].isnull().mean()))

In [64]:
# impute missing categorical variables with most frequent value
for df2 in [X_train, X_test]:
    df2['workclass'].fillna(X_train['workclass'].mode()[0], inplace=True)
    df2['occupation'].fillna(X_train['occupation'].mode()[0], inplace=True)
    df2['native'].fillna(X_train['native'].mode()[0], inplace=True)

In [65]:
X_train[categorical].isnull().sum()

workclass        0
education        0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
native           0
dtype: int64

In [66]:
X_test[categorical].isnull().sum()

workclass        0
education        0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
native           0
dtype: int64

In [67]:
X_train.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
dtype: int64

In [68]:
X_test.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
dtype: int64

In [69]:
categorical

['workclass',
 'education',
 'maritalstatus',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native']

In [70]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 kB 3.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.5.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.1)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0

In [71]:
import category_encoders as ce
encoder = ce.OneHotEncoder(cols=['workclass', 'education', 'maritalstatus', 'occupation', 'relationship', 
                                 'race', 'sex', 'native'])
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [72]:
X_train.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,education_1,education_2,...,native_31,native_32,native_33,native_34,native_35,native_36,native_37,native_38,native_39,native_40
1789,18,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9851,38,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3538,19,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2560,55,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13021,34,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [73]:
X_test.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,education_1,education_2,...,native_31,native_32,native_33,native_34,native_35,native_36,native_37,native_38,native_39,native_40
6221,24,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1884,17,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
812,32,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4981,27,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5567,26,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0